<!DOCTYPE html>
<html>
  <head>
    <title>Snake Game</title>

    <!-- Styles -->
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa&display=swap" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.13.0/css/all.css" rel="stylesheet">
    <link rel = "stylesheet" href = "../static/css/home/homepage.css?version=1">
    <link rel = "stylesheet" href = "../static/css/home/dropdown.css?version=1">
  </head>
  
  <div class="navbar">
    <div class="dropdown">
    </div> 
    <div class="dropdown">
      <button class="dropbtn">Video Games 
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="/blackjack">Blackjack</a>
        <a href="/asteriods">Asteriods</a>
        <a href="/tictactoe">Tic-Tac-Toe</a>
        <a href = "/snake">Snake Game</a>
      </div>
    </div> 
  </div>
  <canvas id="snake" width="608" height="608"></canvas>
  <img src = "{{ url_for('static', filename = 'assets/images/snake/snake.png')}}" id = "icon" width = "0" height = "0">

  <!-- Scripts -->
  <script src ="../static/js/snake.js"> </script>

</html>